
body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.carousel-item 
{
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

@charset "utf-8";


.card-img-top
{
  height: auto !important;
  width: 700px !important;
}


/* CSS Document */

/* ---------- GENERAL ---------- */

body 
{
  background: #e9e9e9;
  color: #9a9a9a;
  font: 100%/1.5em "Droid Sans", sans-serif;
  margin: 0;
}

a { text-decoration: none; }

fieldset 
{
  border: 0;
  margin: 0;
  padding: 0;
}

h4, h5 
{
  line-height: 1.5em;
  margin: 0;
}

hr 
{
  background: #e9e9e9;
    border: 0;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 1px;
    margin: 0;
    min-height: 1px;
}

img 
{
    border: 0;
    display: block;
    height: auto;
    max-width: 100%;
}

input 
{
  border: 0;
  color: inherit;
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    margin: 0;
}

p { margin: 0; }

.clearfix { *zoom: 1; } /* For IE 6/7 */
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after { clear: both; }

/* ---------- LIVE-CHAT ---------- */

#live-chat 
{
  bottom: 0;
  font-size: 12px;
  right: 24px;
  position: fixed;
  width: 300px;
}

#live-chat header 
{
  background: #293239;
  border-radius: 5px 5px 0 0;
  color: #fff;
  cursor: pointer;
  padding: 16px 24px;
}

#live-chat h4 
{
  font-size: 12px;
}

#live-chat h5 
{
  font-size: 10px;
}

#live-chat form 
{
  padding: 24px;
}

#live-chat input[type="text"] 
{
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 8px;
  outline: none;
  width: 234px;
}

.chat-message-counter 
{
  background: #e62727;
  border: 1px solid #fff;
  border-radius: 50%;
  display: none;
  font-size: 12px;
  font-weight: bold;
  height: 28px;
  left: 0;
  line-height: 28px;
  margin: -15px 0 0 -15px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 28px;
}

.chat-close 
{
  background: #1b2126;
  border-radius: 50%;
  color: #fff;
  display: block;
  float: right;
  font-size: 10px;
  height: 16px;
  line-height: 16px;
  margin: 2px 0 0 0;
  text-align: center;
  width: 16px;
}

.chat 
{
  background: #fff;
}

.chat-history 
{
  height: 252px;
  padding: 8px 24px;
  overflow-y: scroll;
}

.chat-message 
{
  margin: 16px 0;
}

.chat-message img 
{
  border-radius: 50%;
  float: left;
}

.chat-message-content
{
  margin-left: 56px;
}

.chat-time 
{
  float: right;
  font-size: 10px;
}

.chat-feedback 
{
  font-style: italic; 
  margin: 0 0 0 80px;
}

/* Collapse bar styling */

.b-agent-demo .b-agent-demo_header
{
  visibility: hidden !important;
  display: none !important;
}

.b-agent-demo .b-agent-demo_powered_by, 
.b-agent-demo .b-agent-demo_result
{
  top: 0 !important;
}

#tutor-collapse
{
  width: 50% !important;
  height: 25px !important;
  border-radius: 0px !important;
  background-color: #2b303e !important;
  color: #fff !important;
  float: right !important;
  border: 1px solid grey !important;
  padding: 0px !important;
}

#tutor-collapse .collapsed
{
}

/* RESPONSIVE MODAL FOR DISCLAIMER AND GREETING! */

.modal 
{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 250px;
  margin-left: -200px;
  margin-top: -150px;
  background-color: #fff;
  padding: 25px;
  border-color: 2px dashed black;
  z-index: 1000;
}

.modal-overlay
{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.3); /* black semi-transparent */
}

/* Notifications - https://stackoverflow.com/questions/17199133/css3-box-with-notification-bubble#17199553 */

.num_notifs {
    border-radius: 5px;
    width: 10%;
    color: #fff;
    margin-left: 45%;
    position: relative;
    top: 10px;
    background: #00b7ea; /* Old browsers */
    background: -moz-linear-gradient(top,  #00b7ea 0%, #0052bf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#0052bf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #00b7ea 0%,#0052bf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #00b7ea 0%,#0052bf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #00b7ea 0%,#0052bf 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #00b7ea 0%,#0052bf 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#0052bf',GradientType=0 ); /* IE6-9 */
    text-align: center;
}